<%= render(SectionComponent.new(title: 'New profile link')) do %>
  <div class="flex flex-col gap-3">
    <%= render BreadcrumbComponent.new(items: [
        { text: 'My account', link: account_path },
        { text: @artist.name, link: edit_artist_path(@artist) },
        { text: 'Edit profile link' }
      ]) %>

    <%= render "form", profile_link: @profile_link %>
  </div>
<% end %>
