<%= render('shared/page_header', text: 'Artists') %>

<ul>
  <% @artists.each do |artist| %>
  <li><%= link_to(artist.name, edit_artist_path(artist)) %></li>
  <% end %>
</ul>

<%= link_to('New artist', new_artist_path) %></li>
