<div class="flex flex-row">
  <div class="basis-1/4 mr-4 m:mr-0">
    <% if @artist.profile_picture.representable? %>
    <%= image_tag @artist.profile_picture.representation(resize_to_limit: [150, 150]), class: 'm-auto' %>
    <% end %>
  </div>
  <div class="basis-3/4">
    <h2 class="text-2xl font-semibold"><%= @artist.name %></h2>
    <p class="text-slate-400 mb-4"><%= @artist.location %></p>
    <p><%= @artist.description %></p>
  </div>
</div>
