<p>Hey!</p>

<p>You have been invited to jam.coop. You can accept the invitation by
clicking on the link below.</p>

<p><%= link_to "Accept invitation", edit_identity_password_reset_url(sid: @signed_id) %></p>

<p>If you don't want to accept the invitation, please ignore this
email. Your account won't be created until you access the link above
and set your password.</p>
