<section class="mt-6 mb-12">
  <h2 class="text-slate-400 mb-3 uppercase"><%= @title %></h2>

  <%= content %>

  <div class="flex justify-end">
    <%= text_link_to @link_text, @link_path %>
  </div>
</section>
