<h1 class="text-2xl font-bold">My account</h1>

<ul>
  <li><%= text_link_to "Change password", edit_password_path %></li>
  <li><%= text_link_to "Change email address", edit_identity_email_path %></li>
  <% if Current.user.payout_detail %>
    <li><%= text_link_to "Edit payout details", edit_payout_detail_path %></li>
  <% else %>
    <li><%= text_link_to "Add payout details", new_payout_detail_path %></li>
  <% end %>
</ul>
