<%= render('shared/page_header', text: 'My account') %>

<ul>
  <li><%= text_link_to "Change password", edit_password_path %></li>
  <li><%= text_link_to "Change email address", edit_identity_email_path %></li>
  <li><%= text_link_to "Add payout details", new_payout_detail_path %></li>
</ul>
