<%= render('shared/page_header', text: 'Thank you!') %>

<p>Thank you for purchasing <%= @purchase.album.title %> by <%= @purchase.album.artist.name %>. Here are your downloads:</p>

<ul>
  <% @purchase.album.downloads.each do |download| %>
  <li><%= text_link_to "Download (#{download.format})", rails_blob_path(download.file) %></li>
  <% end %>
</ul>
