<div class="jam-card stack">
  <div class="frame"><%= card_image(album.cover) %></div>
  <h3 class="jam-card__title"><%= album.title %></h3>
  <h4 class="jam-card__subtitle"><%= album.artist.name %></h4>
</div>
