<div class="mx-auto md:w-2/3 w-full bg-white p-8 sm:mt-4 sm:shadow-sm">
  <h1 class="text-4xl mb-3">Thank you!</h1>

  <p class="mb-3 leading-relaxed">Thank you for registering your interest. We'll be in touch with more news soon.</p>
</div>
