<h1 class="text-4xl tracking-tight leading-10 font-extrabold mb-3">A new music platform<br /><span class="text-amber-600">For us.</span></h1>

<p class="mb-3 leading-relaxed">We're building a new platform to allow fans to connect with,
    and financially support their favourite musicians.</p>

<p class="mb-3 leading-relaxed">It will be 100% run by and for the benefit of musicians, fans and
    the people who make
    it. A <a class="underline decoration-amber-600 hover:bg-amber-500" href="https://en.wikipedia.org/wiki/Platform_cooperative">platform
    co-operative</a>.</p>

<p class="mb-6 leading-relaxed">Got questions? <%= text_link_to "We've got (some) answers", about_url %>.</p>

<p class="mb-6 leading-relaxed">Sounds interesting? Fill in your email and we'll be in touch.</p>

<%= render "form", interest: @interest %>
