<%
  set_meta_tags(
    title: "A new music platform. For us.",
  )
%>

<div>
  <h1>A new music platform. <span class="highlight">For us.</span></h1>
  <p>We're a co-operative music platform, 100% run by and for the benefit of musicians, fans and the people who make it. <%= link_to "Find out more", about_path, class: 'link' %>.</p>
</div>

<%= render 'shared/box', title: 'Best Selling', action: link_to("View All", artists_path, class: 'link') do %>
  <div class="grid">
    <% Album.best_selling.limit(5).each do |album| %>
      <%= link_to(artist_album_path(album.artist, album)) do %>
        <%= render 'shared/card', image: album.cover, title: album.title, subtitle: album.artist.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
