<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Hello!</h1>

  <p>We're building a new platform to allow musicians to connect with,
    and sell their music to their fans.</p>

  <p>It will be 100% run by and for the benefit of musicians, fans and
  the people who make
  it. A <a href="https://en.wikipedia.org/wiki/Platform_cooperative">platform
  co-operative</a>.</p>

  <p>Sounds interesting? Fill in your email and we'll be in touch:</p>

  <%= render "form", interest: @interest %>
</div>
