<%
  set_meta_tags(
    title: "An online music store. Owned by us.",
  )
%>

<h1 class="text-4xl tracking-tight leading-10 font-extrabold mb-3">An online music store. <span class="text-amber-600">Owned by us.</span></h1>

<div class="max-w-3xl mb-6">
  <p class="mb-3 text-slate-600">We're a co-operatively owned music store, 100% run by and for the benefit of musicians, fans and the people who work here. <%= text_link_to "Find out more", about_path %>.</p>
</div>

<%= render(
  SectionComponent.new(
    title: 'Recently purchased',
    link_text: "View All",
    link_path: artists_path)
) do %>
  <div class="grid grid-cols-4 gap-4 mb-3">
    <% Album.best_selling.limit(8).each do |album| %>
      <%= link_to(artist_album_path(album.artist, album)) do %>
        <%= render(CardComponent.new(
          title: album.title,
          subtitle: album.artist.name,
          image: ( cdn_url(album.cover.representation(resize_to_limit: [1000, 1000])) if album.cover.representable? )
        )) %>
      <% end %>
    <% end %>
  </div>
<% end %>
