<div class="mx-auto md:w-2/3 w-full bg-white p-8 sm:mt-4 sm:shadow-sm">
  <h1 class="text-4xl mb-3">Thank you!</h1>

  <p class="mb-3 leading-relaxed">We've sent you an email. Please
  check your inbox and click the link to confirm your email
  address.</p>
</div>
