<table cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td width="auto"></td>
    <td width="600" background="#ffffff">

      <p>Hello!</p>

      <p>Thank you for your continued support and interest
        in <a href="https://jam.coop">jam.coop</a>. We've got a few
        updates to share. Read on!</p>

      <h2>What is jam.coop?</h2>

      <p>jam.coop is a co-operatively owned platform for musicians to
        connect with and sell their music to their supporters. Owning
        it together means we can rely on it for the long term and
        share in the profits together. We've answered some common
        questions
        at <a href="https://jam.coop/about">jam.coop/about</a>.</p>

      <h2>Want to sell your music on jam.coop? Sign up now!</h2>

      <p>You can now sign up and create an artist page on jam.coop!
      Visit <a href="https://jam.coop">jam.coop</a>, click "sign up",
      create an account and verify your email address. You'll be able
      to create an artist page and add digital albums to sell by
      clicking "add artist" under the avatar menu at the top
      right.</p>

      <p>Check our <a href="https://jam.coop/about">FAQ</a> or hit
      reply to this email if you have any questions!</p>

      <h2>Tell people about jam.coop</h2>

      <p>We'd like more people to know about jam.coop.</p>

      <p>Please feel free to share a link to jam.coop, your artist
      page if you have one, or any thoughts you have about jam with
      your communities and friends. We now support "social media
      cards" for artist and album pages so you should get a nice
      preview on many social networks.</p>

      <h2>Have a listen to some music!</h2>

      <p>jam.coop is about the music and creating a sustainable way
        for us to support our favourite musicians.</p>

      <p>There's loads of great music already on jam, here's a few of
      my favourites:</p>

      <ul>
        <li><a href="https://jam.coop/artists/couleurves/albums/pas-pense">pas
        pensé by couleurves</a> - a small, mellow collection of
        reworked ambient tracks. Beautiful combination of guitar and
        synths.</li>
        <li><a href="https://jam.coop/artists/cayce-crane/albums/withered-tree">Withered
        Tree by cayce crane</a> - an infectious groove inspired
        by a 70's film.</li>
        <li><a href="https://jam.coop/artists/helen-bell/albums/sun-scorched-songs-of-sorrow">Sun
        Scorched Songs of Sorrow by Helen Bell</a> - lovely English
        chamber folk exploring our relationship with the physical
        world.</li>
      </ul>

      <p>As we enter a quieter period for many around the world,
      wherever this email finds you we hope you have a peaceful and
      relaxing break,</p>

      <p>Chris and the jam.coop team at Go Free Range.</p>

    </td>
    <td width="auto"></td>
  </tr>
</table>
