<table cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td width="auto"></td>
    <td width="600" background="#ffffff">

      <p>Hello!</p>

      <p>Thank you for signing up to find out more
        about <a href="https://jam.coop">jam.coop</a>.  Here's an
        update on where we've got to and how you can get involved.</p>

      <h2>What is jam.coop?</h2>

      <p>jam.coop is a co-operatively owned platform for musicians to
        connect with and sell their music to their supporters. Owning
        it together means we can rely on it for the long term and
        share in the profits together. We've answered some common
        questions
        at <a href="https://jam.coop/about">jam.coop/about</a></p>

      <h2>What are you working on?</h2>

      <p>So far we've onboarded a few wonderful artists. You can take
        a look at their pages, listen to their music and purchase
        digital downloads of their releases by starting
        at <a href="https://jam.coop/artists">jam.coop/artists</a>. We'd
        love to hear any feedback you have. Hit reply to this email to
        share your thoughts.</p>

      <img src="https://jam.coop/img/artists.png" width="400" />

      <p>We want to add some more artists so that we can "launch" with
        a homepage showcasing a variety of music. That's where you can
        help:</p>

      <h2>How can I get involved?</h2>

      <p><b>Are you an artist?</b> If you already have music on
        bandcamp or another service and would like to sell it through
        jam.coop, hit reply, tell us a bit about yourself and we'll
        get you started.</p>

      <p><b>Do you run a label?</b> We'd love to help you sell your
        music on jam.coop and learn more about the features you need
        to do so. Hit reply, let us know what you need and we'll get
        right back to you.</p>

      <p><b>Do you love supporting artists?</b> Have a listen to some
        of the music we have on jam already and keep an eye out for
        more. You can tell your favourite artists about us to - they
        can reach us any time
        at <a href="mailto:contact@jam.coop">contact@jam.coop</a>.</p>

      <p>Thank you so much for your interest so far. We'd love to hear
        from you so reply to this email to share your thoughts.</p>

      <p>We'll be in touch again soon,</p>

      <p>Chris and the jam.coop team at Go Free Range.</p>

    </td>
    <td width="auto"></td>
  </tr>
</table>
