<div class="w-full border border-red-600 p-4 my-4">
  <h2 class="font-bold mb-3">
    <%= pluralize(@model.errors.count, "error") %> prohibited this <%= @model.class.name.downcase %> from being saved:
  </h2>

  <ul>
    <% @model.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
