<%= render(SectionComponent.new(title: "Editing #{@album.title}")) do %>
  <div class="flex flex-col gap-6">
    <%= render BreadcrumbComponent.new(items: [
        { text: 'My account', link: account_path },
        { text: @album.artist.name, link: edit_artist_path(@album.artist) },
        { text: @album.title }
      ]) %>

    <%= render "form", album: @album %>
  </div>
<% end %>
