<div>
  <div class="border border-slate-200 aspect-w-1 aspect-h-1">
    <%= image_tag @image, class: 'object-cover' %>
  </div>
  <p class='text-sm text-slate-500 break-words'><%= @title %></p>
  <p class='text-sm text-slate-400 break-words'><%= @subtitle %></p>
</div>
