<p>Hey there,</p>

<p>Good news! Your <%= link_to "Stripe account", link_stripe_connect_account_url(@account.stripe_identifier) %> now allows payouts to your bank account.</p>

<p>The jam.coop team</p>
