<p>Hey there,</p>

<p>Your album <%= link_to @album.title, artist_album_url(@album.artist, @album) %> has been published on jam.coop.</p>

<p>Feel free to share a link to <%= link_to "your album page", artist_album_url(@album.artist, @album) %> with your audience.</p>

<p>If you have any feedback on jam.coop we'd love to here it, please <a href="mailto:contact@jam.coop">drop us a line</a>.</p>

<p>Cheers,</p>

<p>The jam.coop team</p>
