<div class="w-1/4">
  <%= render(
    CardComponent.new(
      title: 'Fables of the Reconstuction',
      subtitle: 'R.E.M.',
      image: 'https://upload.wikimedia.org/wikipedia/en/d/dc/R.E.M._-_Fables_of_the_Reconstruction.jpg'
    )
  )
  %>
</div>
