* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
section,
form,
footer {
  max-inline-size: none;
}

body {
  background-color: var(--colour-slate-100);
  color: var(--colour-slate-800);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  text-decoration: none;
}

a.link {
  color: var(--colour-link);
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colour-link-hover);
  }
}

button.link {
  color: var(--colour-link);
  transition: color 200ms;
  background: none;
  border: none;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--colour-link-hover);
  }
}

.highlight {
  color: var(--colour-red-jam-500);
}
