body {
  background-color: var(--colour-slate-100);
  color: var(--colour-slate-800);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-headers);
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  text-decoration: none;
}

a.link {
  color: var(--colour-link);
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colour-link-hover);
  }
}

.highlight {
  color: var(--colour-red-jam-500);
}

footer {
  display: flex;
  align-items: center;
  background-color: var(--colour-slate-300);
  margin-top: var(--s2);
  min-height: var(--s4);
  box-shadow: 0 50vh 0 50vh var(--colour-slate-300);
}
