.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: var(--justify, space-between);
  align-items: center;
}
