:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --colour-slate-800: hsla(217, 33%, 17%, 1);
  --colour-slate-600: hsla(215, 19%, 35%, 1);
  --colour-slate-400: hsla(215, 20%, 65%, 1);
  --colour-slate-300: hsla(213, 27%, 84%, 1);
  --colour-slate-100: hsla(210, 40%, 96%, 1);
  --colour-white: hsla(0, 0%, 100%, 1);
  --colour-red-jam-500: hsla(352, 83%, 68%, 1);
  --colour-red-jam-100: hsla(354, 83%, 95%, 1);
  --colour-link: var(--colour-red-jam-500);
  --colour-link-hover: hsla(352, 66%, 59%, 1);

  --measure: 60ch;

  --font-family-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
}
