<section class="flex flex-col md:flex-row py-6">
  <div class="md:basis-1/4 mb-3 md:mb-0">
    <h2 class="text-lg font-bold"><%= @title %></h2>
  </div>
  <div class="md:basis-3/4">
    <%= content %>
  </div>
</section>
