name: CDK PR check

on:
  pull_request:
  workflow_dispatch:

jobs:
  files-check:
    name: Check for changes in aws-cdk directory
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changes.outputs.changed }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check for changes in aws-cdk directory
        id: changes
        run: |
          if git diff --quiet origin/${{ github.base_ref }}...HEAD -- aws-cdk; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

  cdk-diff-development:
    name: Run cdk diff on development stacks
    needs: files-check
    if: needs.files-check.outputs.changed == 'true'
    uses: ./.github/workflows/cdk-diff.yml
    with:
      stack-names: "CertificateDevelopmentStack MusicCoopDevelopmentStack"

  cdk-diff-production:
    name: Run cdk diff on production stacks
    needs:
      - files-check
      - cdk-diff-development
    if: needs.files-check.outputs.changed == 'true' && needs.cdk-diff-development.outputs.empty == 'true'
    uses: ./.github/workflows/cdk-diff.yml
    with:
      stack-names: "CertificateProductionStack MusicCoopProductionStack"

  cdk-status-check:
    name: Status check for AWS CDK changes
    runs-on: ubuntu-latest
    needs:
      - files-check
      - cdk-diff-development
      - cdk-diff-production
    if: always()
    steps:
      - run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" ]]; then
            echo ":x: One or more jobs failed" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          if [[ "${{ needs.files-check.outputs.changed }}" == "false" ]]; then
            echo ":white_check_mark: No files changed in aws-cdk directory" >> $GITHUB_STEP_SUMMARY
            exit 0
          fi
          if [[ "${{ needs.cdk-diff-development.outputs.empty }}" == "false" ]]; then
            echo ":x: AWS CDK development stack changes detected - deploy by adding comment '/deploy aws-cdk-development'" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          if [[ "${{ needs.cdk-diff-production.outputs.empty }}" == "false" ]]; then
            echo ":x: AWS CDK production stack changes detected - deploy by adding comment '/deploy aws-cdk-production'" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          echo ":white_check_mark: No AWS CDK stack changes detected" >> $GITHUB_STEP_SUMMARY
          exit 0
