name: CDK Deploy

on:
  workflow_call:
    inputs:
      environment-name:
        required: true
        type: string
      ref:
        required: true
        type: string

jobs:
  cdk-deploy:
    name: Run cdk deploy against stacks
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment-name }}
    permissions:
      id-token: write
      contents: write
    env:
      AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_ROLE_NAME: ${{ vars.AWS_ROLE_NAME }}
      AWS_CDK_STACK_NAMES: ${{ vars.AWS_CDK_STACK_NAMES }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Install dependencies
        run: npm ci
        working-directory: aws-cdk

      - name: Run build
        run: npm run build
        working-directory: aws-cdk

      - name: CDK Deploy
        run: |
          # npx cdk deploy ${{ env.AWS_CDK_STACK_NAMES }} --require-approval never
          echo "${{ inputs.environment-name }} - ${{ inputs.ref }} - ${{ env.AWS_CDK_STACK_NAMES }}"
        working-directory: aws-cdk
