name: CI
on: [push]

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup dummy application environment using dotenv
        run: cp .env.example .env.test

      - name: Run linters
        env:
          RAILS_ENV: test
        run: |
          bin/rails rubocop

  tests:
    name: Tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: myapp
          POSTGRES_DB: myapp_test
          POSTGRES_PASSWORD: password
        ports: ["5432:5432"]

    steps:
      - name: Updates package index files
        run: sudo apt-get update

      - name: Install libvips
        run: sudo apt-get install -y libvips

      - name: Install ffmpeg
        run: sudo apt-get install -y ffmpeg

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup dummy application environment using dotenv
        run: cp .env.example .env.test

      - name: Setup test database
        env:
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: myapp
          PGPASSWORD: password
        run: |
          bin/rails db:setup

      - name: Run tests
        env:
          RAILS_ENV: test
          PGHOST: localhost
          PGUSER: myapp
          PGPASSWORD: password
          FERRUM_PROCESS_TIMEOUT: 30
          FERRUM_DEFAULT_TIMEOUT: 30
        run: bin/rails test:all

      - name: Upload system test screenshots
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: System test screenshots
          path: tmp/screenshots

  notify:
    name: Notify
    runs-on: ubuntu-latest
    needs:
      - linters
      - tests
    if: ${{ always() && github.ref == 'refs/heads/main' }}
    steps:
      - name: Slack notification
        uses: justinr636/github-action-slack-notify-build@v1
        with:
          channel_id: C09SW90K30E
          status: ${{ needs.linters.result == 'success' && needs.tests.result == 'success' && 'SUCCESS' || 'FAILURE' }}
          color: ${{ needs.linters.result == 'success' && needs.tests.result == 'success' && 'good' || 'danger' }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - linters
      - tests
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Promote main -> production
        run: |
          git checkout production
          git merge main
          git push origin production
